ml/data/raw/

catboost_info

out

.idea/
*.iml

.ipynb_checkpoints

__pycache__

venv/

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
/app/infra.cfg
/infra/ssh-key.pem
/ml/data/preprocessed/testdf.dump
/ml/data/preprocessed/traindf.dump
